body {
  background: #fafafa;
  color: #333333;
  text-align: top;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #0b1728;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #4c0808;
}


.site-header .navbar-nav .nav-link {
  color: #eaf6f9;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px;
  border-radius: 3px;
  margin-bottom: 20px;
}


.schedule {
  width: 120%;
  margin: auto;
  font-size: 13px;
}

.schedule tr, .schedule td {
  border: 2px solid black;
}

.schedule th {
  padding: 10px;
  text-align: top;
  font-size: 18px;
  font-weight: 400;
}

.schedule td {
  width: 200px;
  height: 150px;
  padding: 20px 1px 1px 5px;
}

.month {
  text-align: center;
  font-size: 40px;
  font-weight: 900
}

.date {
  font-size: 16px;
  font-weight: 400
}

a {
  color: #333333;
}

