{% extends "base.html" %}
{% block content %}
<h1>About Page</h1>
    <div class="content-section article-content">
        <p>This website is a platform for our human ressources department for managing candidates data and interview time.<br>
           Only HR department officials are allowed to use this page, please login or contact the department in case of a problem.<br>
           All information and cvs of our candidates are saved in the database only accessible after login.

        </p>
    </div>
{% endblock content %}